# Covid-19 Case Dataset from 08 July 2020 - 09 July 2021
source: https://www.kaggle.com/hendratno/covid19-indonesia

In [1]:
import numpy as np
import pandas as pd

## Question/Problem
1. Is new case, new deaths, and new recovered dropping or rising?  
2. Has

## Import Data

In [2]:
data = pd.read_csv("data_covid19.csv")
data.sample(5)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
6261,9/18/2020,ID-JB,Jawa Barat,347,3,284,60,15881,311,8912,...,0.07,6.89,1.96%,56.12%,0.98,0.75,NaN,NaN,NaN,NaN
2391,5/27/2020,ID-KI,Kalimantan Timur,3,0,5,-2,280,5,245,...,0.00,1.41,1.79%,87.50%,3.00,1.00,NaN,NaN,NaN,NaN
10686,1/26/2021,ID-KT,Kalimantan Tengah,31,0,137,-106,11577,210,9731,...,0.00,81.70,1.81%,84.05%,0.69,0.00,NaN,NaN,NaN,NaN
3314,6/23/2020,ID-MA,Maluku,1,0,4,-3,634,13,168,...,0.00,7.04,2.05%,26.50%,0.03,1.00,NaN,NaN,NaN,NaN
7369,10/20/2020,ID-ST,Sulawesi Tengah,39,1,13,25,726,28,462,...,0.34,9.47,3.86%,63.64%,19.50,1.00,NaN,NaN,NaN,NaN

## Data info overview

In [3]:
#data dictionary can be view in https://www.kaggle.com/hendratno/covid19-indonesia

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         16283 non-null  object
 1   Location ISO Code            16283 non-null  object
 2   Location                     16283 non-null  object
 3   New Cases                    16283 non-null  int64
 4   New Deaths                   16283 non-null  int64
 5   New Recovered                16283 non-null  int64
 6   New Active Cases             16283 non-null  int64
 7   Total Cases                  16283 non-null  int64
 8   Total Deaths                 16283 non-null  int64
 9   Total Recovered              16283 non-null  int64
 10  Total Active Cases           16283 non-null  int64
 11  Location Level               16283 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     15788 non-null  object
 14  Country                      16283 non-null  object
 15  Continent                    16283 non-null  object
 16  Island                       15788 non-null  object
 17  Time Zone                    15788 non-null  object
 18  Special Status               2393 non-null   object
 19  Total Regencies              16283 non-null  int64
 20  Total Cities                 15814 non-null  float64
 21  Total Districts              16283 non-null  int64
 22  Total Urban Villages         15812 non-null  float64
 23  Total Rural Villages         15787 non-null  float64
 24  Area (km2)                   16283 non-null  int64
 25  Population                   16283 non-null  int64
 26  Population Density           16283 non-null  float64
 27  Longitude                    16283 non-null  float64
 28  Latitude                     16283 non-null  float64
 29  New Cases per Million        16283 non-null  float64
 30  Total Cases per Million      16283 non-null  float64
 31  New Deaths per Million       16283 non-null  float64
 32  Total Deaths per Million     16283 non-null  float64
 33  Case Fatality Rate           16283 non-null  object
 34  Case Recovered Rate          16283 non-null  object
 35  Growth Factor of New Cases   15298 non-null  float64
 36  Growth Factor of New Deaths  14344 non-null  float64
 37  Name                         0 non-null      float64
 38  Item                         0 non-null      float64
 39  Kind                         0 non-null      float64
 40  Hidden                       0 non-null      float64
dtypes: float64(17), int64(12), object(12)
memory usage: 4.3+ MB

nb:  
Urban Village = Kelurahan  
Rural Village = Desa

In [4]:
data.nunique()

Date                             549
Location ISO Code                 34
Location                          34
New Cases                       1597
New Deaths                       268
New Recovered                   1494
New Active Cases                1380
Total Cases                    10630
Total Deaths                    2957
Total Recovered                 9700
Total Active Cases              5570
Location Level                     2
City or Regency                    0
Province                          33
Country                            1
Continent                          1
Island                             7
Time Zone                          3
Special Status                     3
Total Regencies                   18
Total Cities                      10
Total Districts                   34
Total Urban Villages              32
Total Rural Villages              33
Area (km2)                        34
Population                        34
Population Density                34
Longitude                         34
Latitude                          34
New Cases per Million           4171
Total Cases per Million        13986
New Deaths per Million           385
Total Deaths per Million        7090
Case Fatality Rate              1338
Case Recovered Rate             6076
Growth Factor of New Cases       619
Growth Factor of New Deaths      340
Name                               0
Item                               0
Kind                               0
Hidden                             0
dtype: int64

In [5]:
print(f"Location Level unique value(s) {data['Location Level'].unique()}\n")
print(f"Country unique value(s) {data['Country'].unique()}\n")
print(f"Continent unique value(s) {data['Continent'].unique()}\n")
print(f"Island unique value(s) {data['Island'].unique()}\n")
print(f"Special Status unique value(s) {data['Special Status'].unique()}\n")

Location Level unique value(s) ['Province' 'Country']

Country unique value(s) ['Indonesia']

Continent unique value(s) ['Asia']

Island unique value(s) ['Jawa' nan 'Sumatera' 'Sulawesi' 'Nusa Tenggara' 'Kalimantan' 'Maluku'
 'Papua']

Special Status unique value(s) [nan 'Daerah Khusus Ibu Kota' 'Daerah Istimewa' 'Daerah Khusus']

In [6]:
data['Location'].value_counts()

Jawa Timur                    549
DKI Jakarta                   496
Indonesia                     495
Jawa Barat                    495
Riau                          495
Banten                        491
Jawa Tengah                   489
Sulawesi Tenggara             487
Bali                          486
Kalimantan Timur              483
Daerah Istimewa Yogyakarta    481
Sumatera Utara                480
Kepulauan Riau                478
Sulawesi Selatan              478
Jambi                         477
Maluku                        475
Papua                         475
Sumatera Selatan              474
Maluku Utara                  474
Aceh                          471
Kalimantan Tengah             471
Lampung                       471
Sulawesi Tengah               471
Sulawesi Utara                471
Sumatera Barat                471
Papua Barat                   470
Kalimantan Utara              469
Sulawesi Barat                469
Kalimantan Barat              468
Kalimantan Selatan            467
Kepulauan Bangka Belitung     467
Bengkulu                      466
Nusa Tenggara Barat           466
Nusa Tenggara Timur           457
Name: Location, dtype: int64

### Conclusion from Data Info & Actions Follow:
- Dataset comprise of Master Data and Transactional Data. Personally, I would prefer separating master data and transactional data. But since I do not plan to import the dataset into a database and I would end up 'joining' the data anyway, i proceed with this dataset as is.
- `Location` has 34 unique values which is 33 Indonesian provinces + Indonesia (Country) and `Location ISO Code` has the same information but in codes based on ISO standards. So, I decide to drop `Location ISO Code`.
- Indonesia has 34 provinces, so it means there is one province not included in the dataset. Which is Gorontalo in Sulawesi Island.
- I will also Filtered out rows that contain Location == 'Indonesia'
- `Location Level` indicate wheter the data is collected at province or country level. Since I filtered out row with country level data (Location == 'Indonesia') all data will be in province level and this column will be drop
- Now `Location` and `Province` has the same value. I will drop `Location` column after i filter the data.
- `City or Regency`, `Name`, `Item`, `Kind` and `Hidden` columns have no value (all missing) and since there is no significant use for these columns. I decide to drop these columns.  
- Since `City or Regency` values don't exist in this dataset, this analysis will be done in province, island, and country level.  
- `Total Cases`, `Total Deaths`, `Total Recovered`, and `Total Active Cases` refer total cases until related date (`Date` column). These columns will be drop.
- `Longitude` and `Latitude` will be kept for visualization with Power BI

- I decided the column that I would use are the following: `Date`, `New Cases`, `New Deaths`, `New Recovered`, `New Active Cases`, `Province`, `Island`, `Area (km2)`, `Population`, `Population Density`, `Longitude` and `Latitude`

In [17]:
#Filter out rows with location == 'Indonesia'
data_edited = data.loc[(data['Location'] != 'Indonesia')]
data_edited.head(3)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
0,1/8/2020,ID-JI,Jawa Timur,9,3,1,5,9,5,10,...,0.07,0.12,55.56%,111.11%,NaN,NaN,NaN,NaN,NaN,NaN
1,1/9/2020,ID-JI,Jawa Timur,0,1,23,-24,9,6,33,...,0.02,0.15,66.67%,366.67%,0.0,0.33,NaN,NaN,NaN,NaN
2,1/10/2020,ID-JI,Jawa Timur,0,1,14,-15,9,7,47,...,0.02,0.17,77.78%,522.22%,1.0,1.00,NaN,NaN,NaN,NaN

In [18]:
#copy
data_edited = data_edited[['Date','Island', 'Location ISO Code', 'Province', 'Country', 'New Cases', 'New Deaths', 'New Recovered', 'New Active Cases', 
                           'Area (km2)', 'Population', 'Population Density', 'Longitude', 'Latitude']]
data_edited.tail()

,Date,Island,Location ISO Code,Province,Country,New Cases,New Deaths,New Recovered,New Active Cases,Area (km2),Population,Population Density,Longitude,Latitude
16278,7/9/2021,Sulawesi,ID-SG,Sulawesi Tenggara,Indonesia,124,1,3,120,38068,2635461,69.23,122.070311,-4.124689
16279,7/9/2021,Sulawesi,ID-SA,Sulawesi Utara,Indonesia,278,9,9,260,13892,2641884,190.17,124.521240,1.259638
16280,7/9/2021,Sumatera,ID-SB,Sumatera Barat,Indonesia,718,10,275,433,42013,5519245,131.37,100.465062,-0.850253
16281,7/9/2021,Sumatera,ID-SS,Sumatera Selatan,Indonesia,341,6,221,114,91592,8217551,89.72,104.169465,-3.216212
16282,7/9/2021,Sumatera,ID-SU,Sumatera Utara,Indonesia,336,5,241,90,72981,14874889,203.82,99.051964,2.191894

## Replace Space in Column Name with Underscore(_)

In [19]:
data_edited.columns = data_edited.columns.str.replace(' ', '_')
data_edited.tail()

,Date,Island,Location_ISO_Code,Province,Country,New_Cases,New_Deaths,New_Recovered,New_Active_Cases,Area_(km2),Population,Population_Density,Longitude,Latitude
16278,7/9/2021,Sulawesi,ID-SG,Sulawesi Tenggara,Indonesia,124,1,3,120,38068,2635461,69.23,122.070311,-4.124689
16279,7/9/2021,Sulawesi,ID-SA,Sulawesi Utara,Indonesia,278,9,9,260,13892,2641884,190.17,124.521240,1.259638
16280,7/9/2021,Sumatera,ID-SB,Sumatera Barat,Indonesia,718,10,275,433,42013,5519245,131.37,100.465062,-0.850253
16281,7/9/2021,Sumatera,ID-SS,Sumatera Selatan,Indonesia,341,6,221,114,91592,8217551,89.72,104.169465,-3.216212
16282,7/9/2021,Sumatera,ID-SU,Sumatera Utara,Indonesia,336,5,241,90,72981,14874889,203.82,99.051964,2.191894

## Extract

In [20]:
data_edited.to_excel('data_covid19_cleaned.xlsx', index = False)